# 'check_nagiostats' command definition
define command {
        command_line                   /usr/lib/nagios/plugins/check_nagiostats
        command_name                   check_nagiostats
        }
