# 'check_puppet_agent' command definition
define command {
        command_line                   /usr/lib/nagios/plugins/check_puppet_agent -w '$ARG1$' -c '$ARG2$'
        command_name                   check_puppet_agent
        }
