/arsoft-base/
/arsoft-dhcp-client/
/arsoft-nagios-plugins/
/arsoft-openvpn/
/arsoft-ppa/
/arsoft-scm/
/arsoft-scripts-cyrusimapd/
/arsoft-scripts-mythtv/
/tmp/
/*.substvars
/files
/*.debhelper.log
/arsoft-pnp4nagios/
/*.debhelper
/nagios-plugins-arsoft/
/nagios-notifications/
/arsoft-pbuilder/
