Source: arsoft-base
Section: admin
Priority: optional
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Build-Depends: debhelper (>= 11), cmake, libboost-program-options-dev,
 libboost-filesystem-dev, libboost-system-dev, libboost-regex-dev,
 libkrb5-dev
Standards-Version: 4.5.0
Homepage: http://www.arsoft-online.com

Package: arsoft-base
Architecture: all
Depends: arsoft-apt-source, arsoft-base-bin,
 tzdata, mc, screen,
 unzip, zip, unrar, iotop, htop,
 ntfs-3g, xfsprogs, cryptsetup,
 update-manager-core, update-notifier-common,
 language-pack-en-base, lvm2,
 console-data, console-setup, gawk,
 strace, 
 openssh-server, ethtool, wget, curl, ncdu,
 python3-arsoft,
 ${misc:Depends}
Replaces: arsoft-scripts
Conflicts: arsoft-scripts-cyrusimapd, nagios-notifications, nagios-plugins-arsoft,
 arsoft-pbuilder
Description: configure the system to use the AR Soft packages.
 installs basic packages and configuration for operation on 
 AR Soft managed systems.

Package: arsoft-base-bin
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: binary packages for system administration
 includes a tool to manipulate kerberos 5 keytabs

Package: arsoft-apt-source
Architecture: all
Depends: ${misc:Depends}, lsb-release
Conflicts: puppetlabs-release-pc1, puppetlabs-release, puppet7-release
Replaces: arsoft-ppa
Description: installs the AR Soft package repository
 Installs all files to access the AR Soft package repository.

Package: arsoft-dhcp-client
Architecture: all
Replaces: arsoft-scripts-dhcp
Depends: arsoft-base, ${dhcpclient:Depends}, ${misc:Depends}
Description: script for network configuration
 installs dhcp client scripts to configure your workstations
 according to data provided by DHCP, DNS and LDAP.

Package: arsoft-scm
Architecture: all
Depends: arsoft-base, libimage-exiftool-perl, odt2txt, ${misc:Depends}
Replaces: arsoft-scripts-svn
Description: some helper scripts for various SCM systems
 a collection of helper scripts for Subversion and GIT.

Package: arsoft-pnp4nagios
Architecture: all
Recommends: pnp4nagios
Depends: ${misc:Depends}
Description: additional templates and check_commands for PNP4Nagios
 custom templates and check_commands for PNP4Nagios:
  - PuppetDB

Package: arsoft-trac-suid
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: suid helpers for the accessing Trac from a web server
 This package suid helpers to allow the user of the web server (or any
 other service) to run trac-admin.
