#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TARGET_DISTRIBUTION := $(shell dpkg-parsechangelog  | awk '/Distribution/ { print $$2}')
ifeq ($(TARGET_DISTRIBUTION),UNRELEASED)
	TARGET_DISTRIBUTION := $(shell lsb_release -cs)
endif

SUBSTVARS =
SUBSTVARS += -Vdhcpclient:Depends="isc-dhcp-client"
SUBSTVARS += -Vdhcpserver:Depends="isc-dhcp-server"

CMAKE_BUILD_TYPE = Release

%:
	 dh $@ --buildsystem=cmake

override_dh_clean:
	dh_clean --buildsystem=cmake
	-rm -rf build

override_dh_auto_configure:
	dh_auto_configure --buildsystem=cmake -- -DTARGET_DISTRIBUTION=$(TARGET_DISTRIBUTION)
	
override_dh_auto_install:
	dh_auto_install --buildsystem=cmake
	mkdir -p $(CURDIR)/debian/tmp/usr/share/arsoft-base/bash
	ln -s /usr/share/arsoft-base/bash/bash.bashrc $(CURDIR)/debian/tmp/etc/bash.bashrc
	ln -s /usr/share/arsoft-base/profile $(CURDIR)/debian/tmp/etc/profile

override_dh_gencontrol:
	dh_gencontrol -- $(SUBSTVARS)

override_dh_installinit:
	# we do not want to run the init script in the postinst/prerm, its
	#  really only useful on shutdown, see Debian bug #645919
	dh_installinit $@ --no-start -- stop 10 0 6 .
